*.o
*.orig
*TAGS
GPATH
*~
*.bbl
*.aux
*.dvi 
*.blg 
*.ps
*.log
a.out
nail.bootstrap
*.nail-test
tests/*/*.nail.*
examples/*/*.nail.*
[#]*[#]
.\#*
*.ll
/examples/test/gen_stupid/Makefile
/examples/test/gen_stupid/foo.c
/examples/test/gen_stupid/foo.c.orig
/examples/test/gen_stupid/generator.c
/examples/test/gen_stupid/generator.c.orig
/examples/test/gen_stupid/grammar.h
/examples/test/gen_stupid/rfc20135
/examples/test/gen_stupid/server
/examples/test/gen_stupid/server.c
/examples/test/gen_stupid/server.h
/examples/test/gen_stupid/testdomain
/examples/test/gen_stupid/testin
/examples/test/gen_stupid/testpackets.pcap.pcapng
/examples/test/gen_stupid/testpackets/packet.0
/examples/test/gen_stupid/testpackets/packet.2
/examples/test/gen_stupid/testpackets/packet.3
/examples/test/gen_stupid/testpackets/packet.4
/examples/test/gen_stupid/testpackets_old/packet.0
/examples/test/gen_stupid/testpackets_old/packet.1
/examples/test/gen_stupid/testpackets_old/packet.2
/examples/test/gen_stupid/testpackets_old/packet.3
/examples/dns/foo.c
/examples/dns/generator.c
/generator/foo.c
/generator/mk_gen
/generator/parser_invocation
/generator/parser_invocation.c
/generator/run-generator.sh
/generator/test/#test.1#
/generator/test/test.2
/generator/test/test.3
/generator/test/test1.c
/generator/test/test2.c
/generator/testbin/*
/nail/macros/#int-struct.h#
/generator/nail
/examples/dns/generator.c.old
/.metadata/*
.cproject
.project
/examples/dns/action.c
/generator/tools/test.nail
/generator/tools/old2new.c
/generator/tools/old2new.out
/generator/tools/old2new
/generator/tools/bootstrap.c
/generator/tools/bootstrap.cc
/generator/newgrammar.h
/examples/test/union/foo.c
/examples/test/union/test
/generator/mk_parser.cc~
/examples/dns/resolver
/examples/network/tun
/examples/zip/extract
