*.o
*.orig
/examples/test/gen_stupid/#generator.c#
/examples/test/gen_stupid/#generator.c#
/examples/test/gen_stupid/Makefile
/examples/test/gen_stupid/foo.c
/examples/test/gen_stupid/foo.c.orig
/examples/test/gen_stupid/generator.c
/examples/test/gen_stupid/generator.c.orig
/examples/test/gen_stupid/grammar.h
/examples/test/gen_stupid/rfc20135
/examples/test/gen_stupid/server
/examples/test/gen_stupid/server.c
/examples/test/gen_stupid/server.h
/examples/test/gen_stupid/testdomain
/examples/test/gen_stupid/testin
/examples/test/gen_stupid/testpackets.pcap.pcapng
/examples/test/gen_stupid/testpackets/packet.0
/examples/test/gen_stupid/testpackets/packet.2
/examples/test/gen_stupid/testpackets/packet.3
/examples/test/gen_stupid/testpackets/packet.4
/examples/test/gen_stupid/testpackets_old/packet.0
/examples/test/gen_stupid/testpackets_old/packet.1
/examples/test/gen_stupid/testpackets_old/packet.2
/examples/test/gen_stupid/testpackets_old/packet.3
/examples/dns/foo.c
/examples/dns/generator.c
/generator/foo.c
/generator/mk_gen
/generator/parser_invocation
/generator/parser_invocation.c
/generator/run-generator.sh
/generator/test/#test.1#
/generator/test/test.2
/generator/test/test.3
/generator/test/test1.c
/generator/test/test2.c
/nail/macros/#int-struct.h#
